html{
    background:#192a56;
    /*overflow: hidden;*/
}

body{
    
}

canvas{
    z-index: 2;
}

.player{
    /*width:150px;
    height:150px;
    background:red;*/
    position: absolute;
    transition: 0.085s;
}