:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: rgb(250, 151, 151);
}
@font-face {
  font-family: "laout_beautypersonal_use";
  src: url("@/fonts/laoutbeautypersonaluse-x3mjg-webfont.woff2") format("woff2"),
    url("@/fonts/laoutbeautypersonaluse-x3mjg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  background: #192a56;
  overflow: hidden;
  width:100%;
  scroll-behavior: auto;
  overscroll-behavior: contain;
  
}

body {
  margin: 0;
}

canvas {
  position: absolute;
  z-index: -1;
  transition: 1s;
  margin: 0;
}

.player {
  /*width:150px;
    height:150px;
    background:red;*/
  position: absolute;
  transition: 0.285s;
  z-index: 150;
}

iframe {
  position: absolute;
  left: 250px;
  width: 450px;
  height: 550px;
}
iframe:focus {
  outline: none;
}

.banner {
  position: absolute;
  background: url("https://i.postimg.cc/Cx8Rjc6g/frame.png");
  background-size: cover;
  left: 1000px;
  bottom: 650px;
  background-repeat: no-repeat;
  padding: 35px;
  width: 600px;
  padding-inline: 75px;
  z-index: 5;
  font-family: "laout_beautypersonal_use";
  font-size: 72px;
  margin: 0;
  text-align: center;
}
.banner2 {
  left: 2390px;
  bottom: 670px;
  background: url("https://i.postimg.cc/1zGhcFQX/frame2.png");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  padding-inline: 275px;
  z-index: 5;
  font-family: "RibEye";
  font-size: 72px;
  margin: 0;
  text-align: center;
}
.banner3 {
  left: 4150px;
  bottom: 390px;
  background: url("https://i.postimg.cc/T1CnrBGf/Pngtree-artistic-frame-brush-stroke-paint-5241310.png");
  position: absolute;
  background-size: 80%;
  background-repeat: no-repeat;
  padding: 30px;
  height: 300px;
  width: 200px;
  padding-inline: 275px;
  z-index: 1;
  font-family: "RibEye";
  font-size: 60px;
  margin: 0;
  text-align: center;
  padding-left: 155px;
  padding-top: 130px;
  color: white;
  animation: neon 3s infinite;
}
.specialParagraph {
  position: absolute;
  left: 1160px;
  bottom: 550px;
  font-family: "Kavoon", cursive;
  font-size: 60px;
  margin: 0;
  text-align: center;
  width:460px;
}

img {
  position: absolute;
}

.wasd {
  height: 150px;
  left: 500px;
  bottom: 535px;
  border-radius: 25px;
}

.wasdP {
  position: absolute;
  font-family: "Kavoon", cursive;
  left: 435px;
  font-size: 34px;
  bottom: 440px;
  text-shadow: 10px 10px 25px rgb(245, 241, 231), -10px 10px 25px rgb(230, 221, 192),
    -10px -10px 25px rgb(243, 223, 156), 10px -10px 25px rgb(255, 236, 173);
  animation: blink 3.5s infinite;
  opacity: 0.7;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

.treasureChest {
  position: absolute;
  bottom: 165px;
  width: 150px;
  left: 1450px;
}

.bat {
  left: 3150px;
  bottom: 2000px;
  transition: 0.3s;
  z-index: 10;
}

.marioPipe {
  position: absolute;
  left: 5980px;
  width: 100px;
  bottom: -90px;
  z-index: 2;
}
.marioPlant {
  position: absolute;
  left: 5995px;
  width: 70px;
  bottom: 0px;
  transition: 0.2s;
}
/* ABOUT SECTION */

.about {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 2250px;
  bottom: 405px;
  display: none;
}

.aboutLi {
  font-family: "Kavoon", cursive;
  font-size: 23px;
  padding-block: 30px;
  border-top: 2px solid #6f1e51;
  width: 750px;
}
.aboutUl {
  list-style: none;
}

.aboutLabels {
  position: absolute;
  left: 2440px;
  list-style: none;
  display: flex;
  bottom: 525px;
}
.aboutLabelsLi {
  font-size: 25px;
  font-family: "Kavoon", cursive;
  padding-inline: 48px;
}

.aboutBar {
  width: 50px;
  background: linear-gradient(180deg, rgba(238, 52, 133, 1) 0%, rgba(217, 102, 228, 1) 48%, rgba(133, 59, 238, 1) 100%);
  position: absolute;
  border-radius: 4.5px;
  transition: 1s ease-out;
}
.designBar {
  /*height:295px;*/
  left: 2540px;
  bottom: 164px;
}
.codeBar {
  height: 323px;
  left: 2705px;
  bottom: 164px;
}
.creativityBar {
  height: 374px;
  left: 2895px;
  bottom: 164px;
}

/* SKILLS */
.skills {
  position: absolute;
  left: 4700px;
  width: 50px;
  height: 50px;
  bottom: 690px;
}
.skillsUl {
  list-style: none;
}
.skillsLi {
  font-family: "Kavoon", cursive;
  font-size: 23px;
  padding-block: 15px;
  width: 957px;
  border-top: 2px solid #7158e2;
}
.skillsLabels {
  position: absolute;
  left: 4850px;
  bottom: -1000px;
  transition: 2s;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.skillsLabelsLi:first-of-type {
  border-left: 2px solid #7158e2;
}
.skillsLabelsLi {
  font-size: 25px;
  font-family: "Kavoon", cursive;
  border-right: 2px solid #7158e2;
  height: 480px;
  width: 200px;
  text-align: center;
}
.skillsBar {
  height: 50px;
  width: 50px;
  position: relative;
  padding-inline: 75px;
}
.skillsBars {
  position: absolute;
  left: 4850px;
  list-style: none;
  display: flex;
  flex-direction: column;
  /*bottom:270px;*/
  bottom: 1500px;
  height: 440px;
  width: 840px;
  transition: 2s;
}
.skillsBarLi {
  display: flex;
  flex-direction: row;

  padding-block: 5px;
  height: 50px;
}

/* IFRAMES */
.projectsInfo {
  position: absolute;
  left: 6160px;
  /*background: red;*/
  width: 700px;
  height: 600px;
  bottom: 200px;
  text-align: center;
}
.projectsHeader {
  font-size: 64px;
  font-family: "RibEye";
  letter-spacing: 6px;
}
.projectsInfoUl {
  list-style: none;
  margin-top: -15px;
}
.projectsInfoLi {
  font-size: 26px;
  font-family: "Eagle Lake", cursive;
  font-weight: 800;
  margin-block: 10px;
  text-shadow: 0px 2px 45px rgba(255, 255, 255, 0.2);
}
.projectsParagraph {
  font-size: 34px;
  font-family: "Eagle Lake", cursive;
  /*background: rgba(0,0,0,0.15);*/
  padding: 25px;
  border-radius: 75px;
}
.projectsLinks {
  font-size: 36px;
  margin-top: -15px;
  color: #ffda79;
  font-weight: 800;
  text-decoration: none;
  animation: waivy 2s infinite;
  animation-delay: calc(0.2s * var(--i));
  text-shadow: -2px -2px 20px rgb(126, 122, 122);
}
span {
  animation: waivy 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
.iframeUl {
  position: absolute;
  list-style: none;
  left: 6904px;
  bottom: 400px;
}
.iframeLi {
  width: 200px;
  height: 50px;
  background-image: linear-gradient(
    85deg,
    hsl(240deg 70% 12%) 0%,
    hsl(243deg 63% 11%) 17%,
    hsl(245deg 56% 11%) 26%,
    hsl(247deg 50% 11%) 34%,
    hsl(248deg 42% 10%) 42%,
    hsl(249deg 35% 10%) 49%,
    hsl(251deg 27% 10%) 58%,
    hsl(252deg 19% 9%) 66%,
    hsl(252deg 10% 9%) 77%,
    hsl(0deg 0% 9%) 99%
  );
  color: #fff;
  padding: 10px;
  font-size: 25px;
  font-family: "Kavoon", cursive;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-block: 9px;
  padding-top: 25px;
}
.iframeLi:hover {
  color: #0be881;
  cursor: pointer;
}
.planetarium {
  transform: translate(-237px, 52px);
  padding-bottom: -10px;
  border: none;
  border-radius: 2.5px;
  height: 533px;
  width: 459px;
  display: none;
}
.planetariumLi {
  background-image: linear-gradient(
    85deg,
    hsl(240deg 80% 58%) 0%,
    hsl(244deg 70% 58%) 17%,
    hsl(248deg 61% 58%) 26%,
    hsl(250deg 52% 57%) 34%,
    hsl(252deg 43% 57%) 42%,
    hsl(254deg 34% 57%) 49%,
    hsl(255deg 26% 56%) 58%,
    hsl(257deg 17% 56%) 66%,
    hsl(258deg 9% 56%) 77%,
    hsl(0deg 0% 55%) 99%
  );
}
.projectsIframe {
  background: url("https://i.postimg.cc/wBTYR4Vc/Untitled22-1.png");
  position: absolute;
  left: 7150px;
  bottom: 240px;
  width: 484px;
  height: 604px;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}
@keyframes waivy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
